// ---------------------------------------------------------
// skip link
// ---------------------------------------------------------
[href='#main'] {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
}

[href='#main']:focus {
  right: auto;
}

// ---------------------------------------------------------
// sticky footer with flexbox
// ---------------------------------------------------------
html,
body {
  height: 100%;
  background-color: var(--color-background-body);
}
body {
  overscroll-behavior: none;
  overflow-x: hidden;
}
#__nuxt {
  min-height: 100%;
}
#__layout {
  min-height: 100vh;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#main {
  flex: 1 0 auto;
  min-width: rem(320);
  padding-bottom: var(--gutter-lg);
}
.container {
  @include container;
}
.container.narrow {
  @include container-narrow;
}

// ---------------------------------------------------------
// basic elements
// ---------------------------------------------------------
a {
  color: var(--color-link);
}
a:active {
  color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
}
a:hover {
  color: var(--color-link-hover);
}

ul {
  margin-left: 0;
  padding-left: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

// ---------------------------------------------------------
// basic classes
// ---------------------------------------------------------
.button,
a.button {
  @include button;
}
.button:hover,
a.button:hover {
  @include button;
  @include button-hover;
}

.hidden {
  display: none;
}

// ----------------------------------------------
// Page introduction
// ----------------------------------------------
.page-introduction {
  @media (min-width: $md) {
    text-align: center;
  }
  @media (min-width: $lg) {
    padding: 0 10%;
  }
}

// ---------------------------------------------------------
// Copy media queries from here
// ---------------------------------------------------------
/*
@media (min-width: $xs) {
  //
}
@media (min-width: $sm) {
  //
}
@media (min-width: $md) {
  //
}
@media (min-width: $lg) {
  //
}
@media (min-width: $xl) {
  //
}
*/
